<header class="bg-dark text-white py-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <h1 class="mb-0">{{ restaurantName }}</h1>
        <p class="mb-0">Sabores que inspiran</p>
      </div>
      <div class="col-md-8">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/platos" routerLinkActive="active">Platos</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>